/* 
    Style of app layout
    Created on : Nov 2, 2016, 12:54:21 PM
    Author     : Corwin
*/
.root {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
}

.label-text {
    -fx-text-fill: white;
}
